@{
    ViewData["Title"] = "Home Page";
}

<main class="container" style="text-align: center;">
    <h1>Welcome to the world's most scuffed chat platform.</h1>

    @if (User.Identity.IsAuthenticated)
    {
            <section style="padding: 2rem;">
                <div style="display: flex; flex-direction: column; align-items: center; gap: 1rem;">
                    <button class="primary" data-target="createChatroomModal" onclick="toggleModal('createChatroomModal')">
                        <strong>Create a new chatroom</strong>
                    </button>

                    <a href="/n/me" class="contrast" style="padding: 0.75rem 1.25rem; border: 2px solid #006644; border-radius: 0.5rem; text-decoration: none;">
                        <strong>View Your Chatrooms</strong>
                    </a>
                </div>

                <h3 style="margin-top: 2rem;">If you want to join an already existing chatroom, ask for an invite link.</h3>
            </section>

            <!-- Create New Chat Modal -->
            <dialog id="createChatroomModal">
                <article>
                    <header>
                        <button aria-label="Close" rel="prev" onclick="toggleModal('createChatroomModal')"></button>
                        <p>
                            <strong>Create New Chatroom</strong>
                        </p>
                    </header>

                    <form method="post" asp-controller="Chatrooms" asp-action="Create">
                    @Html.AntiForgeryToken()

                        <label for="Title">
                            Chatroom Title
                            <input type="text" id="Title" name="Title" placeholder="Enter a title for your chatroom" required>
                        </label>

                        <footer>
                            <button type="submit">Create</button>
                        </footer>
                    </form>
                </article>
            </dialog>

            <script>
                function toggleModal(modalId) {
                    const modal = document.getElementById(modalId);
                    if (modal.open) {
                        modal.close();
                    } else {
                        modal.showModal();
                    }
                }
            </script>
    }
</main>
