@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<main class="container">
    <h1>@ViewData["Title"]</h1>

    <form method="post">
        <h2>Use your account to log in</h2>
        <div asp-validation-summary="ModelOnly" role="alert" class="text-danger"></div>

        <label>
            Username
            <input asp-for="Input.Username" type="text" autocomplete="username" placeholder="a_relly_nice_username" required />
            <small class="text-danger" asp-validation-for="Input.Username"></small>
        </label>

        <label>
            Password
            <input asp-for="Input.Password" type="password" autocomplete="current-password" placeholder="Not1234#" required />
            <small class="text-danger" asp-validation-for="Input.Password"></small>
        </label>

        <button type="submit">Log in</button>

        <footer style="margin-top: 1rem;">
            <p><a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a></p>
        </footer>
    </form>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}