@page
@model RegisterModel

@{
    ViewData["Title"] = "Register";
}

<main class="container">
    <h1>@ViewData["Title"]</h1>

    <form method="post">
        <h2>Create a new account</h2>
        <div asp-validation-summary="ModelOnly" role="alert" class="text-danger"></div>

        <label>
            Username
            <input asp-for="Input.Username" type="text" autocomplete="username" placeholder="a_really_nice_username" required />
            <small class="text-danger" asp-validation-for="Input.Username"></small>
        </label>

        <label>
            Password
            <input asp-for="Input.Password" type="password" autocomplete="new-password" placeholder="Not1234#" required />
            <small class="text-danger" asp-validation-for="Input.Password"></small>
        </label>

        <label>
            Confirm Password
            <input asp-for="Input.ConfirmPassword" type="password" autocomplete="new-password" placeholder="Not1234#" required />
            <small class="text-danger" asp-validation-for="Input.ConfirmPassword"></small>
        </label>

        <button type="submit">Register</button>

        <footer style="margin-top: 1rem;">
            <p><a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Already have an account? Log in</a></p>
        </footer>
    </form>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}